venv
*.log
*.pot
*.pyc
.idea
.env
/.env
/venv
#*.sqlite3
media/sO6c5CrqXb6Luc5
media/main-images
media/mask-images
media/selection-images
media/croped-images
media/GQcHZfRjCWWU0aP
media/wQE6MYrwGdrtMle
__pycache__/
env